.title-wrapper {
  display: grid;
  place-items: center;
}

.title {
  display: grid;
  place-items: center;
  margin: 0;
  row-gap: 20%;
  font-size: 1.5rem;
}

.cta-btn {
  border-radius: 25px;
  border: 0.25rem solid var(--middle-blue-green);
  background: var(--middle-blue-green);
  padding: 2%;
}

.cta-btn:hover {
  cursor: pointer;
  border: 0.25rem solid var(--dark-orange);
  background: var(--dark-orange);
  color: var(--floral-white);
  transition: all ease-out 0.3s;
}
