.navbar-container {
  width: 100%;
}

.navbar {
  display: grid;
  /* logo, white space, items */
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
}
