.navbar-container {
  width: 100%;
}

.navbar {
  display: grid;
  /* logo, white space, items */
  grid-template-columns: 0.3fr auto 1fr;
  align-items: center;

  width: 95%;
  margin: 0;
  text-align: center;
}

.nav-menu {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  justify-self: end;
}

#lacosta-logo {
  justify-self: start;
  padding-left: 2rem;
}

.logo-link {
  text-decoration: none;
  color: var(--orange-yellow-crayola);
}

.nav-links {
  text-decoration: none;
  padding-right: 1rem;
  color: var(--floral-white);
}

.nav-links:hover {
  color: var(--dark-orange);
  transition: all ease-out 0.1s;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: var(--floral-white);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    position: relative;
  }

  .navbar {
    grid-template-columns: 1fr 0.5fr;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--middle-blue-green);
    width: 100%;
    position: absolute;
    margin: 0;
    top: 72px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    line-height: 60px;
    width: 100%;
    color: var(--space-cadet);
    /* this fills the entire box with style */
    display: table;
  }

  .nav-links:hover {
    background: var(--dark-orange);
    color: var(--floral-white);
    transition: all ease-out 0.3s;
  }

  .navbar {
    width: 100%;
  }

  #lacosta-logo {
    margin-right: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 25%;
    right: 5%;
  }

  .menu-toggle .bar {
    display: block;
  }
  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}
