.search-container {
  display: grid;
  place-items: center;
  margin-top: 1%;
}

.search-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  max-width: 500px;
  background: var(--transparent);
  padding: 0 5%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px var(--transparent);
}
